.post {
  padding: 65px 0;
}
.post h2 {
  margin-bottom: 30px;
}
.post .info {
  display: flex;
  width: 200px;
}
.post .info img {
  width: 50px;
  margin-right: 20px;
}
.post .info .name {
  font-size: 22px;
  font-weight: bold;
}
.post .info .address {
  font-size: 12px;
}
.post .img {
  padding: 35px 0;
}
.post .img img {
  width: 100%;
}
article {
  margin-bottom: 30px;
}
article .box {
  display: flex;
  gap: 30px;
  align-items: center;
}
